body{
    background-image: url("/images/paint_splatter.jpg");



}

.header{
    border: 10px solid purple;
    background-color: purple;
}

h1{
text-align:center;
font-size: 80px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 20px solid rgb(21, 151, 226);
    background-color: rgb(21, 151, 226);
}


.button2 {
    background-color: red;
    border: none;
    color:yellow;
    padding: 15px 32px;
display: inline-block;
font-size: 25px;
text-align: center;
}




.about{
    font-size: larger;
    text-align: center;
    color: white;
    font-size-adjust: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 20px solid yellow;
    background-color: rgb(90, 18, 86);
}


p{
font-size: 25px;
border: 10px solid yellow;
background-color: yellow;
}

img{
    margin: 0 auto;
    display: block;
}

.footer{
    text-align: center;
    font-size: 30px;
    border: 10px solid rgb(225, 0, 255);
    background-color: rgb(225, 0, 255);
}

footer{
 color: black;
text-align: left;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 10px solid rgb(52, 191, 255);
background-color: rgb(52, 191, 255);

}

a{
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.img2{
    width: 900px;
    height: 300px;
}